{
  "*.+(vue)": [
    "npm run fix-style",
    "npm run format",
    "npm run lint -- --fix",
  ],
  "*.+(js|ts)": [
    "npm run format",
    "npm run lint -- --fix",
  ],
  "*.+(json)": [
    "npm run format",
  ],
  "*.+(css)": [
    "npm run fix-style",
    "npm run format",
  ],
}